{% load humanize %}
<section class="row clearfix two-sections">
    <section class="widget">
        <h2 class="widget-header">Median Housing Value</h2>
        <ul class="bar-chart">
            <li class="primary">
                <span class="name">{{ housing.median_housing_values.geography.name }}</span>
                <span class="number">${{ housing.median_housing_values.geography.value|intcomma }}</span>
                <span class="index" style="width: {{ housing.median_housing_indexes.geography_against_nation_index }}%">88%</span>
            </li>
            <li class="context">
                <span class="name"><b>{{ housing.median_housing_indexes.median_against_state|floatformat }}%</b> of {{ housing.median_housing_values.state.name }} median</span>
                <span class="number">${{ housing.median_housing_values.state.value|intcomma }}</span>
                <span class="index" style="width: {{ housing.median_housing_indexes.state_against_nation_index }}%">94%</span>
            </li>
            <li class="context">
                <span class="name"><b>{{ housing.median_housing_indexes.median_against_nation|floatformat }}%</b> of national median</span>
                <span class="number">${{ housing.median_housing_values.nation.value|intcomma }}</span>
                <span class="index" style="width: 50%">100%</span>
            </li>
        </ul>
    </section>
    <section class="widget">
        <h2 class="widget-header">Sale Price Asked</h2>
        <ul class="bar-chart-vertical bar-chart-short">
            {% for group in housing.housing_price_groups %}
            <li style="width:{% widthratio 1 housing.housing_price_groups|length 95 %}%">
                <span class="label double-decker">{{ group.name }}</span>
                <span class="number">{{ group.value }}</span>
                <span class="index" style="height: {% widthratio group.value housing.housing_price_group_max 100 %}%">{% widthratio group.value housing.housing_price_group_max 100 %}%</span>
            </li>
            {% endfor %}
        </ul>
    </section>
</section>
