<!DOCTYPE html>{% load humanize %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/{{ STATIC_URL }}css/normalize.min.css">
        <link rel="stylesheet" href="/{{ STATIC_URL }}css/revised.css">
        <link rel="stylesheet" href="/{{ STATIC_URL }}css/vendor/select2/select2.css">

        <script src="/{{ STATIC_URL }}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body class="">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <div id="header-bar">
                <div class="wrapper clearfix">
                </div>
            </div>
            <header class="wrapper clearfix">
                <h1 class="title">Compare {{ comparison_number }} geographies</h1>
            </header>
        </div>

        <div class="content-container wrapper clearfix">
            
            <article class="clearfix">
                <header class="clearfix">
                    <div class="table-tools">
                        <div class="table-tool-group">
                            Find
                            <select id="coal-picker">
                                <option></option>
                                {% for geo in geo_values %}
                                <option value="geography-{{ forloop.counter }}">{{ geo.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="table-tools">
                        <div class="table-tool-group">
                            Click on a point to lock/unlock display
                        </div>
                    </div>
                </header>
                {% for plot in line_plots %}
                <section class="coal-chart-container" id="coal-chart-{{ index }}">
                    <h2>{{ plot.group_name }}</h2>
                    <ul class="coal-chart">
                        <li class="tick-mark tick-mark-min">
                            <span><b>Min:</b> {{ plot.min_value|intcomma }}</span>
                        </li>
                        <li style="left: {{ plot.median_percent_of_range|floatformat }}%" class="tick-mark">
                            <span><b>Median:</b> {{ plot.median_value|intcomma }}</span>
                        </li>
                        <li class="tick-mark tick-mark-max">
                            <span><b>Max:</b> {{ plot.max_value|intcomma }}</span>
                        </li>
                    {% for point in plot.group_values %}
                        <li style="left: {{ point.percent_of_range|floatformat }}%">
                            <a data-index="geography-{{ forloop.counter }}">
                                <span><b>{{ point.name }}</b><br>{{ point.value|intcomma }}</span>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </section>
                {% endfor %}
            </article>

            {% comment %}
            <article class="clearfix">
                <header class="clearfix">
                    <div class="table-tools">
                        <div class="table-tool-group">
                            Show
                            <ul class="toggle-controls">
                                <li><a id="show-percentage">Percentages</a></li>
                                <li><a id="show-raw-number">Raw numbers</a></li>
                            </ul>
                        </div>
                    </div>
                </header>
                <section>
                    <table>
                        <thead>
                            <tr>
                                <th class="name">Name</th>
                                <th class="value">Total</th>
                                {% for header in category_headers %}
                                <th class="value">{{ header }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for geo in geo_values %}
                            <tr class="{% cycle 'odd' 'even' %}">
                                <td class="name">{{ geo.name }}</td>
                                <td class="value">{{ geo.total|intcomma }}</td>
                                {% for value in geo.values %}
                                <td class="value toggle-target">
                                    <span class="percentage">{{ value.percentage|floatformat }}%</span>
                                    <span class="raw-number">{{ value.value|intcomma }}</span>
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            </article>{% endcomment %}

        </div>

        <div class="footer-container clearfix">
            <footer class="wrapper">
                <div class="section-one-third">
                    <h1>About CensusReporter</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In accumsan egestas leo eu adipiscing. Aenean feugiat lobortis viverra. Cras vestibulum nunc a eros lacinia ut venenatis mauris lobortis.</p>
                </div>
                <div class="section-two-thirds">
                    <div class="section-one-third">
                        <h2>Some</h2>
                        <ul>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                        </ul>
                    </div>
                    <div class="section-one-third">
                        <h2>Census</h2>
                        <ul>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                        </ul>
                    </div>
                    <div class="section-one-third">
                        <h2>Things</h2>
                        <ul>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/{{ STATIC_URL }}js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="/{{ STATIC_URL }}js/vendor/select2.min.js"></script>
        <script src="/{{ STATIC_URL }}js/vendor/chroma.min.js"></script>
        <script src="/{{ STATIC_URL }}js/main.js"></script>
        <script>
        jQuery(document).ready(function(){
            $('.raw-number').css('display', 'none');
            $('#show-raw-number').css('text-decoration', 'none');
            var toggleControls = $('.toggle-controls a');
            toggleControls.on('click', function() {
                var clicked = $(this);
                toggleControls.css('text-decoration', 'none');
                clicked.css('text-decoration', 'underline');
                var targetClass = clicked.attr('id').replace('show-','');
                $('.toggle-target span').css('display', 'none');
                $('.'+targetClass).css('display', 'block');
            })
            
            var coalCharts = $('.coal-chart');
            var numCoalCharts = coalCharts.length;
            var coalChartPoints = $('.coal-chart a')
            coalCharts.on('mouseover', 'a', function(e) {
                var chosenIndex = $(this).data('index');
                var filteredPoints = coalChartPoints.filter('[data-index='+chosenIndex+']');
                filteredPoints.addClass('hovered');
                filteredPoints.children('span').css('display', 'block');
            })
            coalCharts.on('mouseout', 'a', function(e) {
                coalChartPoints.removeClass('hovered');
                coalChartPoints.children('span').removeAttr('style');
            })
            coalCharts.on('click', 'a', function(e) {
                e.preventDefault();
                toggleSelectedPoints($(this).data('index'));
            })
            
            $('#coal-picker').select2({
                placeholder: 'Select a geography',
                width: 'resolve'
            });
            $('#coal-picker').on('change', function(e) {
                toggleSelectedPoints($(this).val());
            })
            
            var colorScale = chroma.scale('RdYlBu').domain([0,6]);
            var colorIndex = 0;
            var toggleSelectedPoints = function(chosenIndex) {
                var filteredPoints = coalChartPoints.filter('[data-index='+chosenIndex+']');
                // if adding a new selection, pick next color in scale
                if (!filteredPoints.hasClass('selected')) {
                    targetColor = colorScale((colorIndex+=1) % 6);
                }
                filteredPoints.toggleClass('selected').removeAttr('style').filter('.selected').css({
                    'background-color': targetColor.hex(),
                    'border-color': targetColor.darken(20).hex()
                });
            }
        })
        </script>
    </body>
</html>
